.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.logo-image {
  width: 80px;
  height: 80px;
  transition: transform .2s;
}

.logo-image-small {
  width: 50px;
  height: 50px;
}

.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}

#mainNav {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-item {
  text-transform: capitalize !important;
  text-align: center;
}

.nav-item--highlight {
  background-color: #1CA8F3;
  border-radius: 35px;
  box-shadow: 0 0 5px #777;
  transition: all ease-in .2s;
}

.nav-item--highlight:hover {
  transition: all ease-in .2s;
  box-shadow: 0 0 20px #777777;
}

.nav-link:hover {
  color: #eeeeee !important;
}

.nav-link span{
  font-size: 20px;
  vertical-align: middle;
  padding-right: 5px;
}

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.services_banner {
  margin-top: -260px;
}

.services_banner .container {
  padding: 60px;
}

.services-banner-img-container {
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

.service-banner-img {
  width: 200px;
  height: 200px;
  transition: transform .3s;
}

.service-banner-img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  text-transform: uppercase;
  z-index: 110;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0 #000;
}

.service-banner-img-text--sub {
  text-transform: capitalize;
  font-size: 17px;
  display: inline-block;
  font-weight: normal;
}

.services-banner-img-container {
  cursor: pointer;
  background-color: orange;
  height: 175px;
  border-radius: 10px;
  box-shadow: 0 0 5px #777;
  transition: all .2s ease-in;
}

.services-banner-img-container:hover {
  box-shadow: 0 0 20px #777;
  margin-top: -5px;
  transition: all .2s ease-in;

}

@keyframes rotate-service-banner-img-text-bg {
  0%   {width: 0; height: 0;}
  100% {width: 85%; height: 85%;}
}


.service-banner-img-text-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}  

/* .services-banner-img-container:hover .service-banner-img-text-bg {
  display: block;
  animation-name: rotate-service-banner-img-text-bg;
  animation-duration: 0.3s;
  width: 85%; height: 85%;
} */

.service-banner-content--odd {
  /* background-color: #000000; */
  color: #ffffff;
  text-align: center;
}

.service-banner-content--even {
  /* background-color: #212529; */
  color: #ffffff;
  text-align: center;
}

.service-banner-desc {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 13px;
  padding: 40px 20px;
}

.carousel-indicators {
  bottom: 250px;
}

.carousel-caption {
  bottom: 260px;
}

.carousel-caption h3 {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px #000;
}

.carousel-caption p {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 20px;
  text-shadow: 0px 0px 1px #000;
}

#services {
  background-color: #ffffff;
}

#services .row {
  margin-bottom: 20px;
}

.service-col {
  padding-top: 15px; 
}

.service-col-img-container {
  max-width: 100%;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0 0 3px #ccc;
  transition: box-shadow .3s ease-in;
  margin: auto;
}

/* .service-col:hover {
  box-shadow: 0 0 5px #777;
  border-radius: 10px;
  z-index: 10;
  transition: box-shadow .3s ease-in;
} */

.service-col-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  transform: scale(1.0);
  transition: transform .3s ease-in;
}

.service-col:hover .service-col-img {
  transform: scale(1.3);
  transition: transform .3s ease-in;
}

.section-description {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 13px;
  text-align: left;
}

.service-heading {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.service-col > .text-muted {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 13px;
}

.partners-content {
  background-color: #ffffff;
  box-shadow: 0 0 2px #cccccc;
  padding: 0;
  height: 50px;
  overflow: hidden;
}

.partners-img-content {
  cursor: pointer;
} 

.partners-img-content img {
  height: 30px;
  margin: 10px;
} 

.modal-dialog {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#services .fas {
  color: #1CA8F3;
}

/* .navbar-transparent {
  background-color: transparent !important;
}

#mainNav .navbar-nav .nav-item .nav-link {
  text-shadow: 0 0 1px #000;
} */

.quick-link-text {
  margin-top: 10px;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #000000;
  margin-bottom: 35px;
  width: 100px;
}

#quick-links {
  margin-top: -100px;
  margin-bottom: -130px;
}

.quick-link-text span {
  color: #999999;
  font-weight: bold;
}

.quick-links-heading {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 30px;
  color: #FDA856;
}

.mobile-app-image {
  width: 80%;
  object-fit: cover;
}

.play-store-button {
  width: 220px;
  cursor: pointer;
}

.mobile-app-text-div {
  margin-top: 10%;
}

#mobile-app {
  background-image: url("../img/app/mobile-app-background.jpeg");
  background-size: cover;
}

footer {
  background-color: #444444;
  color: #fff;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  padding: 25px 0 0;
}

footer a {
  color: #ffffff;
  font-size: 13px;
}

footer a:hover {
  color: #ccc;
}

footer h4 {
  font-size: 15px;
}

footer p {
  font-size: 13px;
}

.footer-content {
  text-align: left;
}

footer .social-icons {
  font-size: 30px;
  margin: 10px 10px 30px;
}

.footer-bottom {
  background-color: #323232;
  padding: 15px;
}

#numbers {
  background-image:url("../img/service/blue-background.jpeg");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.quick-numbers-text {
  padding: 10px;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.quick-numbers-text span {
  font-size: 28px;
  color: #ccc;
  font-weight: bold;
}

.line {
  border-top: 4px solid #bbb;
  width: 13.33vw;
  padding: 0;
}

.no-line {
  width: 11.7vw;
}

.quick-links-row .p-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.quick-links-sub-heading--black {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 25px;
  color: #323232;
}

.quick-links-sub-heading--blue {
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 40px;
  color: #3A9CED;
}

.quick-links-row--first {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

@media (max-width: 411px) {
  .logo-text{
    width: 150px;
  }
  .logo-image {
    width: 50px;
    height: 50px;
  }
  .services_banner {
    margin-top: 0;
  }
  .carousel-indicators {
    bottom: 10px;
  }
  .carousel-caption {
    bottom: 20px;
  }
}

@media (max-width: 320px) {
  .logo-text{
    width: 120px;
  }
  .logo-image {
    width: 35px;
    height: 35px;
  }
}

